{% extends "catalog/base.html" %}

{% block title %} User profile {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Profile management </h1>

    Hello, {{ user }}! What would you like to do? <br><br>
    <button onclick="location.href='/'">Go to main page</button>
    <button onclick="location.href='{% url "change_password" %}'">Change password</button>
    <button onclick="location.href='{% url "reset_password" %}'">Reset password</button>
    <form method="post" action="{% url 'goodbye' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
{% else %}
    Please authenticate first in order to access your profile area.
{% endif %}

{% endblock %}
