{% extends "catalog/base.html" %}

{% block title %} Triage {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Profile management </h1>

    Hello, {{ user }}! What would you like to do? <br><br>
    <a href="/">Go to main page</a><br>
    <a href="triage">Go to triage page</a><br>
    <a href="accounts/password_change">Change password</a><br>
    <a href="password_reset">Reset password</a><br>
    <a href="logout">Logout</a><br>

    <br>
{% else %}
    Please authenticate first in order to access your profile area.
{% endif %}

{% endblock %}
