<!DOCTYPE HTML>

<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title> {% block title %}TESS EB catalog{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'catalog/styles.css' %}">
    {% block extra_header %}{% endblock %}
</head>

<body>

{% block navigation %}
    <div class="container">
        <div class="banner">
            <div class="logo">
                <img src="{% static 'catalog/logo.png' %}">
            </div>
            <div class="banner-title">
                Live version of the TESS EB catalog
            </div>
            <div class="banner-buttons">
                {% if user.is_authenticated %}
                    <button onclick="location.href='/'">Home</button>
                    <button onclick="location.href='search'">Search</button>
                    <button onclick="location.href='triage'">Triage</button>
                    <form method="post" action="/accounts/logout/" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <!-- <button onclick="location.href='accounts/logout/'">Logout</button> -->
                {% else %}
                    <button onclick="location.href='/'">Home</button>
                    <button onclick="location.href='search'">Search</button>
                    <button onclick="location.href='/accounts/login'">Login</button>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block quicksearch %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>